<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<!--head>
  <meta charset="UTF-8">
  <title>Pet Clinic - Index</title>
</head-->

<body>

  <h1 th:text="'Pet Clinic - Owners Index Page'">Pet Clinic Index Page</h1>
  <table class="table table striped">
    <thead>
      <tr>
        <th style="width: 150px;">Id</th>
        <th style="width: 150px;">First Name</th>
        <th style="width: 150px;">Last Name</th>
        <!-- prepared, that owners can have pets -->
        <!--th>Pets</th-->
      </tr>
    </thead>
    <tbody>
      <tr th:each="owner : ${owners}">
        <td th:text="${owner.id}">222222</td>
        <td th:text="${owner.firstName}">John</td>
        <td th:text="${owner.lastName}">Wayne</td>
        <!-- prepared, that owners can have pets -->
        <!--td><span th:each="pet : ${owner.pets}" th:text="${pet.name}"/></td-->
      </tr>
    </tbody>
  </table>

</body>
</html>